/*************************
******** Arrows **********
**************************/
div.jMyCarousel .prev{
	background: url('../img/left.png') center center no-repeat;
	width:47px;
	height:61px;
	border:0px;
}

div.jMyCarousel .next{
	background: url('../img/right.png') center center no-repeat;
	width:40px;
	height:61px;
	border:0px;
}

div.jMyCarousel{
	margin:5px 0;
}

div.jMyCarousel ul li{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	line-height:0;
	margin:10px 5px;
	padding:0px;
	position:relative;
}

div.jMyCarousel ul li a{
	display:block; float:none;
	padding:5px;
	text-decoration:none;
	font-size:0.9em;
}

div.jMyCarousel a {
	color: #88AB21;
}

div.jMyCarousel ul li a:hover{
	text-decoration:underline;
	font-size:0.9em;
}

div.jMyCarousel ul li img{
	display:block;
	border:0px;
	margin:0;
	padding:0;
	background:none;
}

/* carousel index*/
.jMyCarousel li {
	cursor:pointer;
	height:235px;
	list-style-type: none;
}

.fond {
	height:20px;
	width:200px;
	position:absolute;
	top:0;
	background:#FFF;
	opacity:0.7;
	filter: alpha(opacity=70);
}

h3.titre {color:#000;
	font-size:0.9em;
	letter-spacing:-0.05em;
	line-height:normal;
	margin:0;
	padding:2px;
	position:absolute;
	top:0;
	border:none;
}

p.destination {
    font: 10px normal Arial,Helvetica,sans-serif;
    letter-spacing: -0.5px;
    text-align: center;
    width: 171px;
    height: 12px;
    margin: 0px;
    padding: 2px;
}

.jMyCarousel p {
	letter-spacing:-0.05em;
	line-height:normal;
	margin:0;
	color:#58563F;
	font-size:11px;
	font-weight:bold;
	text-align:center;
}

.jMyCarousel p { padding:5px 8px;}
.jMyCarousel .pic {float:none; display:none;}
