/*
Description: FavSlider Admin CSS
*/

div#myTabContent .span6 {
  margin-top: 21px;
  margin-left: 0;
  width: 100%;
}
div#myTabContent .control-group hr { border-top: 1px solid #dddddd; border-bottom: 1px solid #ffffff; width: 38em; }
div#myTabContent .control-label { width: 20em; }
div#myTabContent textarea { width: 400px; }

ul#myTabTabs.nav.nav-tabs li a {
  background-color: #ededed;
  color: #444444;
  border: 1px solid #ddd;
  padding: 7px 14px;
  line-height: 24px;
}
ul#myTabTabs.nav.nav-tabs li.active a,
ul#myTabTabs.nav.nav-tabs > li a:hover {
  background-color: #0099ff;
  color: #fff;
  border: 1px solid #008fee;
}

@media handheld, only screen and (max-width: 800px) {

  ul#myTabTabs.nav.nav-tabs {
    border: 0px none;
  }
  ul#myTabTabs.nav.nav-tabs > li {
    float: none;
  }
  ul#myTabTabs.nav.nav-tabs li a,
  ul#myTabTabs.nav.nav-tabs li.active a,
  ul#myTabTabs.nav.nav-tabs > li a:hover {
    border-radius: 4px;
  }
  ul#myTabTabs.nav.nav-tabs li a {
    background-color: #fff;
  }

}
